*{
  margin: 0;
  padding: 0;
}


:root{
  --board-border-color: black;
}

#board-container{
  display: flex;
  justify-content: center;
  align-items: center;
}


#board{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  height: 300px;
  width: 300px;
  border: 1px solid var(--board-border-color);
}


.cell{
  border: 2px solid var(--board-border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  cursor: pointer;
}


.game-message-container{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#overlay{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(93, 93, 93, 0.7); /* Semi-transparent black background */
   /* Ensure it's above other content */
  z-index: 1000;
}

#form-container{
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1001;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#form{
  background-color: white;
}
