*{
  margin: 0;
  padding: 0;
  font-family: "Nunito", 'Times New Roman';
  color: white;
}



:root{
  --board-border-color: white;
  --overlay-background-color: black;
  --background-color: black;
  --button-color: black;
}


body{
  background-color: var(--background-color);
}


button{
  background-color: var(--button-color);
  border: 1px solid white;
  box-shadow: 0 0 15px white;
  position: relative;
  padding: 8px 10px;
  opacity: 0.9;
 

}

button:hover{
  box-shadow: 0 0 20px white;
  opacity: 1;
}

span{
  filter: drop-shadow(0 0 2px white);
}


input{
  color: black;
}

#board-container{
  display: flex;
  justify-content: center;
  align-items: center;
}


#board{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  height: 300px;
  width: 300px;
  border: 1px solid var(--board-border-color);
}


.cell{
  border: 2px solid var(--board-border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  cursor: pointer;
}




#overlay{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; /* Semi-transparent black background */
   /* Ensure it's above other content */
  z-index: 1000;
}

#overlay h1{
  display: flex;
  justify-content: center;
  padding: 30px;
  margin-top: 80px;
  font-size: 40px;
  text-shadow: 0 0 20px white;
}

#form-container{
  display: flex;
  position: fixed;
  z-index: 1001;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--overlay-background-color);
  

}

#form{
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  width: 250px;
}

#form li{
  list-style: none;
  display: flex;
  flex-direction: column;
}

#form label{
  text-shadow: 0 0 5px white;
}

#form input{
  outline: white solid 1px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 3px;
}


#form input:focus{
  outline: white solid 2px;
  border: none;
  box-shadow: 0 0 10px white;

}

#form button{
  padding: 7px 10px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.error-msg {
  color: red;
  text-shadow: 0 0 5px red;
  margin-top: 3px;
}


.game-message-container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding: 30px;
}

.game-message-container .info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#round-over-container{
  display: none;
  justify-content: center;
  margin-top: 100px;
  gap: 15px;
}


#round-over-container button{
  padding: 5px 10px;
  border-radius: 5px;

  border: 1px solid black;
  cursor: pointer;
}